.navigation {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background: linear-gradient(315deg, #63a4ff 0%, #83eaf1 70%);; 
	align-items: center;
	border: 5px solid #bbb;
}

.sticky {
    position: fixed;
    z-index: 2147483647;
    top: 0;
    width: 100%;
}

.logo-grid {
	grid-column: span 1;
}

.Tilt {
	max-width: 70px;
	max-height:70px;
	padding-left: 20px;
	cursor: pointer;
}

.logo {
	max-height: 100%;
	max-width: 100%;
}

.title {
	grid-column: span 1;
	justify-self: center;
	align-self: center;
}

p {
	font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif; 
	font-size: 28px;
	color: #000099;
}

p:hover {
	transform: scale(1.2);
}